:root {
  --color-moderate-violet: hsl(263, 55%, 52%);
  --color-dark-grayish-blue: hsl(217, 19%, 35%);
  --color-dark-blackish-blue: hsl(219, 29%, 14%);
  --color-white: hsl(0, 0%, 100%);
  --color-light-gray: hsl(0, 0%, 81%);
  --color-light-grayish-blue: hsl(210, 46%, 95%);
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--color-light-grayish-blue);
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 1.3rem;
}

h1,
h2,
h3 {
  margin: 0;
}

h2 {
  font-size: 1.9rem;
}

h3 {
  font-size: 1.4rem;
}

p {
  margin: 0;
  line-height: 1.4;
}

/* Grid */

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--2x4 {
    grid-template: repeat(2, auto) / repeat(4, 1fr);
  }
}

/* Cards */

.testimonials {
  margin: 8rem 2rem;
  row-gap: 2rem;
}

.card {
  border-radius: 10px;
  padding: 1rem 3.5rem 3rem 3.5rem;
}

img {
  border: 2px solid hsl(0, 0%, 100%, 50%);
  border-radius: 50%;
  width: 3rem;
  margin-right: 1.5rem;
}

.card__black img {
  border: 2px solid hsl(263, 55%, 52%, 70%);
  border-radius: 50%;
}

.card__purple {
  background: var(--color-moderate-violet);
  background-image: url(./images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top 0 left 200px;
  color: var(--color-white);
}

.card__grey {
  background: var(--color-dark-grayish-blue);
  color: var(--color-white);
}

.card__white {
  background: var(--color-white);
  color: var(--color-dark-grayish-blue);
}

.card__black {
  background: var(--color-dark-blackish-blue);
  color: var(--color-white);
}

@media screen and (min-width: 768px) {
  .testimonials {
    gap: 2rem;
    width: 79%;
    margin: 6rem auto;
  }

  .card__purple {
    grid-column: 1 / 3;
    background-position: top 0 left 340px;
  }
  .card__white--short {
    grid-row: 2 / 2;
  }
  .card__black {
    grid-row: 2 / 2;
    grid-column: 2 / 4;
  }
  .card__white--long {
    grid-row: 1/3;
  }
}

.personal__info {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.personal__info p {
  opacity: 0.5;
}

.review h2 {
  margin: 1.5rem 0;
}

.review p {
  opacity: 0.7;
}
